<style>
    @media (min-width:1440px) and (max-width:2250px){
    span.header__heading-text.uppercase.d-block .logo-container div#logo2 svg.logo-2 {
        width: 100vw !important;
        height: 268px !important;
            transform: translate(0%, 0%) !important;
    }
    }
    .shopify-section.shopify-section-group-header-group.section-header-navigation.shopify-section-header-sticky.animate.scrolled-past-header .logo-container {
        transform: translate(0px, 45%) !important;
    }
    .header-logo.header-item.header-item--side.d-flex.flex-align-center.fs-0.fg-0.pt-2.pb-5 {
        width: 25% !important;
    }
    .logo-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        transform: translate(0px, 65%);
        transition: all 0.5s ease;
    }
        #logo1 {
            top: unset !important;
            right: unset !important;
            transform: translate(0, 0) !important;
        }
    span.header__heading-text.uppercase.d-block .logo-container div#logo1 svg.logo-1 {
            transform: translateY(0) !important;
            width: 108px !important;
            height: 35px !important;
            fill: black;
            opacity: 0.8;
        }
        #logo1 {
            top: unset !important;
            right: unset !important;
            transform: translate(0, 0) !important;
        }
    #logo2 {
            top: unset !important;
            right: unset !important;
            transform: translateY(0) !important;
            position: relative;
        }
    @media screen and (max-width: 1440px){
        span.header__heading-text.uppercase.d-block .logo-container div#logo2 svg.logo-2 {
            transform: translate(0%, 0%) !important;
            width: 403px !important;
            height: 248px !important;
        }
    }
    /* Tablet */ 
    @media only screen and (min-width: 768px) and (max-width: 1024px)  {
    
    .shopify-section.shopify-section-group-header-group.section-header-mobile.shopify-section-header-sticky .header-mobile__item.header-mobile__item--logo {
            transform: translate(0, 25vw) !important;
        }
    }
    </style>
    
    
    <!-- Insert your SVG logos here -->
    <div class="logo-container">
      <div id="logo1">
            <svg class="logo-1" width="176" height="56" viewbox="0 0 176 56" xmlns="http://www.w3.org/2000/svg" role="presentation" aria-hidden="true" tabindex="-1" disabled clickable="false">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M59.6254 51.1971C58.6296 49.1225 58.2061 46.3647 57.6089 41.1276L54.4729 13.272C54.025 9.12271 53.7508 6.74447 54.0994 4.97342C54.4729 3.80961 55.2194 2.87351 56.4888 1.7097V1.4314H56.0909H54.0494H42.4757C42.4757 1.4314 38.9912 9.45157 36.0539 16.4598C35.4067 17.9525 34.7595 19.5211 34.1123 21.1656C33.2909 23.1644 32.6437 24.8089 32.3201 25.7702C32.2208 26.0486 32.1458 26.2763 32.0964 26.4534H31.5236C31.5236 26.4281 31.3993 26.2004 31.2 25.7702C30.6778 24.6571 29.5821 22.3042 28.2633 19.4958C27.5662 17.9019 26.844 16.3585 26.1475 14.8658L20.7464 3.3542C20.2235 2.24099 19.8999 1.5326 19.85 1.4314H7.50416H5.76189H5.53825V1.73499C6.48404 2.747 7.10624 3.60724 7.50416 4.56865C8.02703 6.41557 7.90271 8.59136 7.60411 12.0575L5.06537 41.9878C4.71679 45.9346 4.34322 48.8948 3.29812 51.3236C2.67593 52.3103 1.87944 53.1452 0.734375 54.1825V54.309H3.34745H16.1412H18.6556V54.1825C17.5355 53.1452 16.739 52.032 16.1661 50.767C15.6933 48.9201 15.7682 46.3141 16.0668 41.5577L16.2911 37.7879C16.5147 34.0688 16.664 30.8051 16.664 26.9594V26.504V25.9727L16.689 23.3415H17.4605L18.3813 25.9727L18.7799 27.0859C19.9993 30.6532 21.1193 33.4616 22.8123 37.1807L23.8824 39.6095L30.4785 55.4981H30.7271L35.3317 43.9612L37.1739 39.5843L38.219 37.1807C39.6627 33.7905 40.9821 30.2737 42.1271 26.757L42.3514 26.0992L43.1972 23.468H43.9687L44.0687 26.0992L44.0937 27.0353C44.243 30.552 44.4666 34.3977 44.7408 38.4964L44.9152 40.7481C45.2631 45.6816 45.4624 48.6165 45.0888 50.7417C44.5166 52.0067 43.7201 53.1199 42.6 54.1572V54.2837H45.1138H59.6254H62.2635V54.1572C61.0691 53.0693 60.2476 52.2091 59.6254 51.1971Z"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M172.625 51.1974C171.63 49.1227 171.206 46.365 170.609 41.1278L167.473 13.2722C167.025 9.12296 166.751 6.74471 167.099 4.97367C167.473 3.80985 168.219 2.87376 169.489 1.70995V1.43164H169.091H167.049H155.476C155.476 1.43164 151.991 9.45181 149.054 16.46C148.407 17.9528 147.76 19.5214 147.112 21.1659C146.291 23.1646 145.644 24.8091 145.32 25.7705C145.221 26.0488 145.146 26.2766 145.096 26.4537H144.524C144.524 26.4283 144.399 26.2006 144.2 25.7705C143.678 24.6573 142.582 22.3044 141.263 19.4961C140.566 17.9022 139.845 16.3588 139.148 14.8661L133.746 3.35445C133.224 2.24124 132.9 1.53284 132.85 1.43164H120.504H118.762H118.538V1.73523C119.484 2.74724 120.106 3.60748 120.504 4.56889C121.027 6.41581 120.903 8.59161 120.604 12.0578L118.065 41.988C117.717 45.9349 117.343 48.895 116.298 51.3239C115.676 52.3105 114.879 53.1455 113.734 54.1828V54.3093H116.372H129.166H131.681V54.1828C130.56 53.1455 129.764 52.0322 129.191 50.7672C128.718 48.9203 128.793 46.3144 129.092 41.558L129.315 37.7882C129.54 34.069 129.689 30.8053 129.689 26.9596V26.5043V25.9729L129.714 23.3417H130.486L131.406 25.9729L131.805 27.0862C133.024 30.6535 134.144 33.4619 135.837 37.181L136.907 39.6098L143.504 55.4984H143.752L148.357 43.9615L150.199 39.5845L151.244 37.181C152.688 33.7908 153.982 30.2739 155.152 26.7572L155.376 26.0994L156.222 23.4683H156.994L157.094 26.0994L157.118 27.0356C157.268 30.5523 157.492 34.3979 157.765 38.4966L157.94 40.7484C158.288 45.6819 158.487 48.6167 158.114 50.742C157.542 52.007 156.745 53.1201 155.625 54.1574V54.284H158.089H172.6H175.214V54.1574C174.069 53.0695 173.248 52.2093 172.625 51.1974Z"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M93.1303 45.5544C84.6183 45.5544 78.6943 38.445 78.6943 28.249C78.6943 19.2168 83.1996 10.1087 93.2802 10.1087C98.7063 10.1087 103.311 12.4869 108.189 17.8L108.388 18.0277V3.4294L108.314 3.40407C102.887 1.15235 97.6856 0.0644531 92.4088 0.0644531C77.0513 0.0644531 64.5312 12.9929 64.5312 28.8562C64.5312 44.1882 76.3298 55.7757 91.9609 55.7757C97.6356 55.7757 103.709 53.9541 108.613 50.8168L108.662 50.7915V36.1427L108.463 36.3957C103.858 42.1895 98.2828 45.5544 93.1303 45.5544Z"></path>
        </svg>
    
      </div>
      <div id="logo2">
        <svg class="logo-2" width="644" height="402" viewbox="0 0 644 402" fill="#222222" xmlns="http://www.w3.org/2000/svg" role="presentation" aria-hidden="true" tabindex="-1" disabled clickable="false">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M318.907 215.307C318.483 215.23 318.061 215.129 317.638 215.027C316.767 214.824 315.946 214.595 315.101 214.315C311.22 213.07 307.763 211.241 304.852 208.877L299.802 204.786L297.663 217.517C289.23 266.763 281.295 273.091 275.3 273.091C267.713 273.091 253.036 264.273 240.051 256.472C222.689 246.028 204.728 235.254 190.127 235.254C181.196 235.254 173.659 238.836 167.714 245.926C151.221 265.544 148.535 312.579 159.778 385.737L160.948 393.386L162.49 402L222.365 392.725L220.301 384.06L218.31 375.852C203.51 314.637 207.415 297.536 211.047 292.81C211.768 291.869 212.589 291.285 214.429 291.285C220.126 291.285 232.49 300.636 242.464 308.183C256.643 318.932 271.32 330.036 283.807 330.036C301.37 330.036 308.26 314.383 313.832 298.349C319.976 280.612 323.956 255.329 325.673 223.183L326.046 216.298L322.439 215.916C321.369 215.764 320.299 215.586 318.907 215.307Z" fill="#222222"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M456.216 238.227C441.365 238.227 425.794 246.918 410.719 255.329C398.754 262.012 387.46 268.314 379.824 268.314C367.934 268.314 360.023 253.169 353.331 217.696L351.267 206.794L346.491 210.124C341.764 213.401 336.018 215.434 329.849 215.968L326.143 216.298L326.541 223.185C330.744 296.825 340.048 321.677 363.406 321.677C373.132 321.677 385.993 314.994 397.261 308.489L398.232 307.93C411.714 300.281 419.152 296.063 425.769 296.063C429.6 296.063 431.092 297.435 432.013 298.757C434.848 302.771 439.599 317.764 422.361 370.186L419.624 378.521L416.615 387.491L475.718 399.587L476.987 399.867L479.027 390.719L480.644 383.273C495.818 312.936 495.718 269.254 480.321 249.764C474.276 242.09 466.166 238.227 456.216 238.227Z" fill="#222222"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M324.851 163.722L324.726 163.621C323.582 163.722 322.438 163.874 321.343 164.103" fill="#222222"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M329.775 163.773C330.796 163.85 331.791 164.028 332.761 164.18C331.816 163.951 330.845 163.799 329.85 163.697C329.825 163.723 329.8 163.748 329.775 163.773Z" fill="#222222"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M368.631 105.506C363.258 80.6287 343.656 70.0579 324.9 70.8711C324.9 70.8711 307.313 70.8966 295.074 85.3296C282.114 100.627 279.726 128.909 292.139 149.238C296.592 156.531 302.537 163.062 308.357 168.449C309.452 167.813 310.621 167.255 311.816 166.721C312.139 166.569 312.487 166.466 312.835 166.314C313.582 166.009 314.353 165.755 315.124 165.501C315.895 165.247 316.666 165.044 317.462 164.84C318.034 164.688 318.606 164.561 319.178 164.459C319.9 164.307 320.621 164.18 321.368 164.078C322.512 163.926 323.681 163.773 324.875 163.722L324.751 163.621C324.974 163.595 325.173 163.544 325.372 163.544L321.268 159.199C321.268 159.199 313.383 150.382 311.965 139.912C310.522 129.443 312.288 120.372 318.581 114.629C324.875 108.886 332.188 111.198 335.77 114.73C339.352 118.237 342.338 123.344 342.611 133.382C342.86 143.444 339.327 151.856 333.059 159.174C331.268 161.257 330.049 162.655 329.178 163.595C329.427 163.621 329.651 163.672 329.875 163.697C329.85 163.722 329.825 163.748 329.8 163.773C330.82 163.849 331.815 164.027 332.785 164.18C333.606 164.307 334.452 164.485 335.248 164.662C335.596 164.739 335.969 164.84 336.317 164.942C337.263 165.196 338.208 165.451 339.104 165.781C339.974 166.086 340.82 166.416 341.666 166.771C341.865 166.848 342.064 166.924 342.238 167C343.432 167.56 344.576 168.169 345.671 168.83C351.516 162.706 357.487 155.947 360.745 150.712C365.944 142.276 373.357 127.334 368.631 105.506Z" fill="#222222"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M301.715 189.362C301.715 200.39 312.585 209.31 325.993 209.31C339.402 209.31 350.272 200.39 350.272 189.362C350.272 178.334 339.402 169.415 325.993 169.415C312.585 169.415 301.715 178.359 301.715 189.362Z" fill="#222222"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M42.4898 72.8275L47.7137 74.9365L47.266 69.2191C43.3357 18.9819 22.0672 6.32728 6.42052 1.16888L2.83843 0L1.94295 3.73539C-3.28089 25.6396 -0.494876 55.3958 42.4898 72.8275Z" fill="#222222"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M93.5381 124.411L86.3242 120.193C76.7722 114.603 69.2348 107.056 61.2497 99.0511C49.1851 86.9306 36.6977 74.377 16.3496 68.5071L12.5187 67.3892L11.9466 71.43C9.13562 91.6059 14.1854 108.606 26.2002 119.329C34.6081 126.825 46.1006 130.79 59.4835 130.79C67.4437 130.79 76.1997 129.417 85.5781 126.698L93.5381 124.411Z" fill="#222222"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M234.355 173.327L239.753 168.88L233.036 167.076C198.484 157.878 181.743 154.803 146.569 178.105L142.688 180.671L146.172 183.771C155.873 192.436 167.191 196.832 179.853 196.832C196.818 196.883 215.648 188.726 234.355 173.327Z" fill="#222222"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M118.487 124.946L130.253 127.385L121.621 118.872C116.671 113.993 112.318 105.201 107.243 94.9859C96.3228 73.0057 82.7658 45.689 53.8108 40.8863L49.1094 40.0986L49.8059 44.9267C56.1491 89.2939 79.9052 116.941 118.487 124.946Z" fill="#222222"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M176.593 155.667L169.478 152.897C163.632 150.61 158.185 148.4 152.936 146.265C118.583 132.314 97.8371 123.878 64.9021 137.829L61.668 139.201L63.0112 142.504C67.4886 153.533 77.663 162.401 91.6177 167.483C100.399 170.66 110.051 172.286 120.274 172.286C137.215 172.286 154.826 167.712 169.876 159.403L176.593 155.667Z" fill="#222222"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M361.491 160.089L358.904 164.993L364.302 165.781C367.387 166.238 370.422 166.467 373.357 166.467C404.227 166.467 420.098 141.463 429.65 126.394C431.64 123.243 433.381 120.524 434.973 118.389L439.003 113.028L432.436 112.164C392.735 106.98 378.008 128.757 361.491 160.089Z" fill="#222222"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M418.107 155.947L424.799 155.515C473.555 152.39 486.391 128.376 496.714 109.089C499.6 103.677 502.336 98.5689 505.57 94.808L510.47 89.0906L503.032 88.8623C470.844 88.0236 448.704 104.541 421.59 150.077L418.107 155.947Z" fill="#222222"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M493.483 132.975L500.1 131.603C543.259 122.608 561.468 105.1 572.264 62.2314L573.283 58.1657L569.204 57.7844C534.727 54.5573 510.473 93.4616 496.195 126.648L493.483 132.975Z" fill="#222222"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M240.697 135.694L240.722 135.745C254.652 159.631 259.353 167.686 290.771 168.22L298.955 168.347L293.781 161.867C290.448 157.7 287.736 152.821 284.876 147.688C276.045 131.832 266.094 113.764 234.602 114.221L227.812 114.323L231.443 120.168C235.075 126.038 238.06 131.171 240.697 135.694Z" fill="#222222"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M187.143 150.051L195.775 151.626L190.55 144.41C187.342 139.963 184.133 135.262 180.998 130.688C163.636 105.252 145.65 78.9258 115.128 78.9258C114.681 78.9258 114.208 78.9258 113.735 78.9513L108.263 79.1037L110.701 84.1094C128.611 120.93 138.461 141.233 187.143 150.051Z" fill="#222222"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M184.309 121.946L184.334 121.997C196.199 139.836 208.487 158.31 241.248 163.137L247.368 164.052L244.955 158.233C223.86 107.081 201.771 97.0439 173.115 97.4501L165.204 97.5266L170.602 103.447C175.776 109.14 180.105 115.67 184.309 121.946Z" fill="#222222"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M553.034 143.241C528.457 136.456 507.238 130.561 469.626 151.576L463.433 155.031L469.875 157.979C493.88 168.905 513.531 174.191 529.95 174.191C548.407 174.191 562.586 167.102 572.038 153.1L574.999 148.729L569.924 147.586C563.954 146.265 558.407 144.74 553.034 143.241Z" fill="#222222"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M579.898 100.781L579.823 100.805C565.196 109.471 551.366 117.653 538.953 127.411L533.953 131.324L539.849 133.586C551.117 137.88 561.764 140.066 571.465 140.066C583.231 140.066 593.605 136.94 602.286 130.791C617.31 120.143 625.569 101.492 625.569 78.266V71.4561L620.072 75.3438C606.191 85.2035 592.833 93.1314 579.898 100.781Z" fill="#222222"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M569.921 93.4364L576.936 90.6412C624.97 71.5066 648.53 42.0299 643.278 7.62364L642.709 3.91357L639.124 4.67595C609.373 10.9016 589.398 35.2706 572.359 86.1431L569.921 93.4364Z" fill="#222222"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M486.418 171.956C462.787 163.366 442.389 155.972 404.852 167.509L398.932 169.338L403.508 173.582C430.971 198.993 454.329 204.329 469.08 204.329C472.737 204.329 476.294 203.999 479.652 203.363C492.712 200.899 503.433 193.555 508.308 183.721L510.224 179.884L506.194 178.664C499.08 176.555 492.637 174.217 486.418 171.956Z" fill="#222222"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M253.758 211.673C239.777 213.503 224.678 208.98 211.792 202.703L208.136 200.924L211.27 198.307C239.752 175.183 247.365 165.628 298.956 176.149C298.981 176.149 290.996 206.769 253.758 211.673Z" fill="#222222"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M396.841 211.215C409.528 212.029 419.826 206.743 426.095 202.194L429.328 199.831L425.895 197.798C422.637 195.867 419.328 193.173 415.821 190.328C403.757 180.468 388.707 168.194 360.498 174.268L356.866 175.055L355.026 175.564L353.185 176.021C353.185 176.021 365.15 209.182 396.841 211.215Z" fill="#222222"></path>
        </svg>
    
      </div>
    </div>
    <script>
      // Add scroll event listener
      window.addEventListener('scroll', function () {
        // Add 'scrolled' class if the scroll position is more than 50px
        if (window.scrollY > 50) {
          document.body.classList.add('scrolled');
        } else {
          // Remove 'scrolled' class if the scroll position is less than 50px
          document.body.classList.remove('scrolled');
        }
      });
    </script>