<div class="header-mobile">
    <div class="menu-toggle">Menu</div>
    <nav class="mobile-nav">
        <ul>
            <li><a href="/collections/women">Women</a></li>
            <li><a href="/collections/men">Men</a></li>
        </ul>
    </nav>
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}