<!-- Include Custom Stylesheet -->
{{ 'mcm-icon-edits.css' | asset_url | stylesheet_tag }}
{{ 'discover-the-visetos-monogram.css' | asset_url | stylesheet_tag }}

<!-- MCM Family Section -->
<section class="Meet_Families">
  <div class="wrapper-top">
    <!-- Text Column -->
    <div class="col-Meet">
       <div class="detail-wrapper"> 
        <h2 class="title title-Meet">Visetos: The Essence of MCM</h2> 
      </div>
      <div class="introduction intro-desktop"> 
        <p>
        Our signature style has been at the forefront of the world’s leading cultural, fashion, and travel scenes for almost half a century. It’s time to take a tour of our instantly recognizable classics.  
        </p> 
      </div>
    <!-- Image Column -->
    <div class="col-Meeter">
      <div class="image-slider-with-details-carousel">
        <picture class="lazy-image-loaded"> 
          <img src="https://cdn.shopify.com/s/files/1/0888/3594/8829/files/EvergreenHero.webp?v=1753785837" alt="Diamond Family Image" loading="lazy" />
                <div class="introduction"> 
<a class="monogram_btn" href="/collections/mcm-icons-tracy-bags" title="3d diamond_bag">Shop Tracy</a>
      </div> 
        </picture>
      </div>
    </div>
    </div>

  </div>
</section>
<!-- MCM Hero Section -->
<section class="amp-ca pressHero">
  <div class="gray-border">&nbsp;</div>
    <div class="image-description"> 
    <h2 class="align-center bold">Born alongside MCM itself, the Visetos monogram immediately established the Haus as a global design phenomenon.</h2> 
  </div>
  <div class="itself-wrapper">
  <div class="itself">
  <div class="MCm-icon_Banner">
    <img src="https://cdn.shopify.com/s/files/1/0888/3594/8829/files/MCM_EVERGREEN_SS22_FINAL_4-5_JPEG_51.webp?v=1753953446" alt="MCM Icons Banner" loading="lazy" />
  </div>
      <div class="introduction"> 
<a class="monogram_btn" href="/collections/mcm-icons-liz-bags" title="3d diamond_bag">Shop Liz</a>
      </div> 
  </div>
  <div class="itself">
  <div class="MCm-icon_Banner">
    <img src="https://cdn.shopify.com/s/files/1/0888/3594/8829/files/MCM_EVERGREEN_SS22_FINAL_4-5_JPEG_50.webp?v=1753953446" alt="MCM Icons Banner" loading="lazy" />
  </div>
      <div class="introduction"> 
<a class="monogram_btn" href="/collections/mcm-icons-aren-bags" title="3d diamond_bag">Shop Aren</a>
      </div> 
  </div>
  </div>
</section>
<!-- MCM Hero Section -->
<section class="amp-ca pressHero_video">
    <div class="video-description"> 
    <p class="align-center">Our core styles are always adapting and evolving to meet the ever-changing times – all promoting their own unique identity.</p> 
  </div>
  <div class="itself-wrapper_video">
  <div class="itself">
  <div class="MCm-icon_Banner">
   <video muted="" autoplay="" playsinline="" loop="" poster="https://cdn.shopify.com/videos/c/o/v/a46c630f78db4fa2937efd8d7927437a.webm" 
    lazy-src="https://cdn.shopify.com/videos/c/o/v/a46c630f78db4fa2937efd8d7927437a.webm" preload="none" tabindex="0" 
    id="custom1753952901020" class="" style="display: block; opacity: 1;"> 
           <source src="https://cdn.shopify.com/videos/c/o/v/a46c630f78db4fa2937efd8d7927437a.webm" type="video/webm"> 
           <source src="https://cdn.shopify.com/videos/c/o/v/a46c630f78db4fa2937efd8d7927437a.webm" type="video/mp4"> 
           <source src="https://cdn.shopify.com/videos/c/o/v/a46c630f78db4fa2937efd8d7927437a.webm" type="video/webm"> 
           <source src="https://cdn.shopify.com/videos/c/o/v/a46c630f78db4fa2937efd8d7927437a.webm" type="video/mp4"> 
           <source src="https://cdn.shopify.com/videos/c/o/v/a46c630f78db4fa2937efd8d7927437a.webm" type="video/webm"> 
           <source src="https://cdn.shopify.com/videos/c/o/v/a46c630f78db4fa2937efd8d7927437a.webm" type="video/mp4"> 
          </video>
  </div>
  </div>
  </div>
</section>
<!-- MCM Hero Section -->
<section class="amp-ca pressHero">
    <div class="image-description"> 
    <h2 class="align-center bold">Truly innovative design translates across a wide variety of everyday staples while always maintaining a luxurious touch.</h2> 
  </div>
  <div class="itself-wrapper">
  <div class="itself">
  <div class="MCm-icon_Banner">
    <img src="https://cdn.shopify.com/s/files/1/0888/3594/8829/files/MCM_EVERGREEN_SS22_FINAL_4-5_JPEG_11.webp?v=1753955608" alt="MCM Icons Banner" loading="lazy" />
  </div>
      <div class="introduction"> 
<a class="monogram_btn" href="/collections/mcm-icons-stark-backpacks" title="3d diamond_bag">Shop Stark</a>
      </div> 
  </div>
  <div class="itself">
  <div class="MCm-icon_Banner">
    <img src="https://cdn.shopify.com/s/files/1/0888/3594/8829/files/MCM_EVERGREEN_SS22_FINAL_4-5_JPEG_28.webp?v=1753955608" alt="MCM Icons Banner" loading="lazy" />
  </div>
      <div class="introduction"> 
<a class="monogram_btn" href="/collections/mcm-belts" title="3d diamond_bag">Shop Belts</a>
      </div> 
  </div>
  </div>

    <div class="itself-wrapper">
  <div class="itself">
  <div class="MCm-icon_Banner">
    <img src="https://cdn.shopify.com/s/files/1/0888/3594/8829/files/MCM_EVERGREEN_SS22_FINAL_4-5_JPEG_33.webp?v=1753955608" alt="MCM Icons Banner" loading="lazy" />
  </div>
      <div class="introduction"> 
<a class="monogram_btn" href="/collections/mcm-slides" title="3d diamond_bag">Shop Slides</a>
      </div> 
  </div>
  <div class="itself">
  <div class="MCm-icon_Banner">
    <img src="https://cdn.shopify.com/s/files/1/0888/3594/8829/files/MCM_EVERGREEN_SS22_FINAL_4-5_JPEG_32.webp?v=1753955608" alt="MCM Icons Banner" loading="lazy" />
  </div>
      <div class="introduction"> 
<a class="monogram_btn" href="/collections/mcm-wallets" title="3d diamond_bag">Shop Wallets</a>
      </div> 
  </div>
  </div>
</section>

<!-- MCM Hero Section -->
<section class="amp-ca pressHero">
<div class="video-description"> 
    <p class="align-center">Since it was first handcrafted in Munich, the Visetos has traveled far and wide, a one-of-a-kind whether in LA or London, Singapore or Seoul.</p> 
  </div>
  <div class="itself-wrapper_col">
  <div class="itself">
  <div class="MCm-icon_Banner">
    <img src="https://cdn.shopify.com/s/files/1/0888/3594/8829/files/MCM_EVERGREEN_SS22_FINAL_1-1_JPEG_20.webp?v=1753956277" alt="MCM Icons Banner" loading="lazy" />
  </div>
      <div class="introduction"> 
<a class="monogram_btn" href="/collections/bags-top-handle-bags" title="3d diamond_bag">Shop Boston Bags</a>
      </div> 
  </div>
  <div class="itself">
  <div class="MCm-icon_Banner">
    <img src="https://cdn.shopify.com/s/files/1/0888/3594/8829/files/MCM_EVERGREEN_SS22_FINAL_1-1_JPEG_14.webp?v=1753956277" alt="MCM Icons Banner" loading="lazy" />
  </div>
      <div class="introduction"> 
<a class="monogram_btn" href="/collections/bags-drawstring" title="3d diamond_bag">Shop Drawstring Bags</a>
      </div> 
  </div>
    <div class="itself">
  <div class="MCm-icon_Banner">
    <img src="https://cdn.shopify.com/s/files/1/0888/3594/8829/files/MCM_EVERGREEN_SS22_FINAL_1-1_JPEG_18.webp?v=1753956277" alt="MCM Icons Banner" loading="lazy" />
  </div>
      <div class="introduction"> 
<a class="monogram_btn" href="/collections/lifestyle-novelty" title="3d diamond_bag">Shop Lifestyle and Novelty</a>
      </div> 
  </div>
  </div>
  <div class="image-description add_Top_space"> 
    <h2 class="align-center bold">A motif with global renown: Whether carried by TikTok stars or sartorial connoisseurs, it’s always unmistakably MCM.</h2> 
  </div>
</section>



<!-- Include Custom JS -->
{{ 'mcm-icon-edits.js' | asset_url | script_tag defer }}
